#resources_app .span4 {
    border-right: 1px solid #EEEEEE;
    margin-left: 19px;
}

.heading-button {
    float: right;
}

.btn.large .add-on {
    border-left: 1px solid #509E50;
    float: right;
    font-size: 26px;
    font-weight: bold;
    height: 37px;
    margin-bottom: -18px;
    margin-left: 14px;
    padding-left: 14px;
    position: relative;
    top: -9px;
}
