#resources_app .span4 {
    border-right: 1px solid #EEEEEE;
    margin-left: 19px;
}

.heading-button {
    float: right;
    padding-top: 4px;
}

.resource-display {
    text-align: center;
}

.data-label {
    font-weight: bold;
    text-align: right;
}
