{% extends 'base.html' %}

{% block site_js %}
  {{ super() }}
  {{ js('home') }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('home') }}
{% endblock %}

{% block content %}
  <div id="slides" class="hero-unit">
    <div class="slides_container">
      {% for feature in features %}
        <div>
          {% if feature.image %}
            <img src="{{ feature.image.url }}">
          {% endif %}
          <h1>{{ feature.headline }}</h1>
          <p>{{ feature.body }}</p>
          <p>
            <a href="{{ feature.link }}" class="btn primary large">
              {{ feature.button_text|default(_('Learn More'), true) }} &raquo;
            </a>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h2>{{ _('Generators') }}</h2>
      <p>
        {% trans %}
          Use the generators to create custom-made sprites quickly and
          easily! Generate charasets, battlesets, and more!
        {% endtrans %}
      </p>
      <p>
        <a href="#" class="btn">{{ _('Get Started &raquo;') }}</a>
      </p>
    </div>
    <div class="span5">
      <h2>{{ _('Complete Resources') }}</h2>
      <p>
        {% trans %}
          The Complete Resources is a repository of custom-made
          resources, including sprites, tilesets, battle scenes, title
          screens, and even music.
        {% endtrans %}
      </p>
      <p>
        <a href="#" class="btn">{{ _('Search the Repository &raquo;') }}</a>
      </p>
    </div>
    <div class="span5">
      <h2>{{ _('Forums') }}</h2>
      <p>
        {% trans %}
          Need help? Have a specific issue or request? Or do you just
          want to show off your game? The Forums are the place to go
          to get involved in the Charas community.
        {% endtrans %}
      </p>
      <p>
        <a href="#" class="btn">{{ _('Forum Index &raquo;') }}</a>
      </p>
    </div>
  </div>
{% endblock %}
