{% extends 'base.html' %}
{% set section='generators' %}

{% block site_css %}
  {{ super() }}
  {{ css('generators') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('generators') }}

  {# ICanHaz.js Templates #}
  {% raw %}
    <script type="text/html" id="parts_tabs">
      <ul class="tabs">
        {{#parts}}
          <li><a href="#parts-{{slug}}">{{name}}</a></li>
        {{/parts}}
      </ul>
      <div class="tab-content">
        {{#parts}}
          <div id="parts-{{slug}}" class="resources" data-part-slug="{{slug}}">
            {{name}}
          </div>
        {{/parts}}
      </div>
    </script>

    <script type="text/html" id="resources_view">
      <ul class="unstyled">
        {{#resources}}
          <li class="resource" data-resource-id="{{id}}" data-part-slug="{{part_slug}}">
            <img src="{{preview}}">
          </li>
        {{/resources}}
      </ul>
    </script>
  {% endraw %}
{% endblock %}

{% block page_header %}
{{ _('Generator:') }} {{ generator.name }}
{% endblock %}

{% block content %}
<div id="generator_app" data-generator="{{ generator.slug }}">
  <div class="row">
    <div class="span9 columns">
      <div id="parts_view" class="clearfix"></div>
    </div>
    <div class="span7 columns">
      <h2>{{ _('Preview') }}</h2>
      <div id="preview-container" class="scale-nearest well"></div>
    </div>
  </div>
  <div class="row actions gen-toolbar">
    <div class="span9 columns">
      <a class="btn success" href="{{ url('generators.upload', slug=generator.slug) }}">
        {{ _('Upload New Part') }}
      </a>
    </div>
    <div class="span7 columns">
      <button id="download" class="btn primary">{{ _('Download') }}</button>
    </div>
  </div>
</div>
{% endblock %}
