{% extends 'base.html' %}
{% import 'include/forms.html' as forms %}

{% set section='generators' %}

{% block page_header %}
  {{ _('Upload Resource for Generator:') }} {{ generator.name }}
{% endblock %}

{% block content %}
  <p>
    {% trans %}
      Use the form below to upload a new resource for use in the
      generators. Resources will not appear in the generators until they
      have been approved by a moderator.
    {% endtrans %}
  </p>
  {{ forms.basic(form, '', 'post',
                 csrf=csrf(),
                 multipart=true,
                 submit_label=_('Upload')) }}
{% endblock %}
