{% import 'include/navigation.html' as nav %}
{% import 'users/include/macros.html' as user_macros %}
<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Charas-Project{% endblock %}</title>
    {% block site_css %}
      {{ css('common') }}
    {% endblock %}
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3>
            <a class="logo" href="{{ url('home') }}">
              <!-- <img src="{{ MEDIA_URL }}img/template/charas_head.png" alt="Twitter" />-->
              <span>{{ _('Charas-Project') }}</span>
            </a>
          </h3>
          <ul class="nav">
            {% set section = section|default('home') %}
            {% include 'layout/navigation.html' %}
          </ul>
          <ul class="nav secondary-nav">
            {% if user.is_authenticated() %}
              {% call nav.dropdown('user', user_macros.img_and_username(user)) %}
                {{ nav.dropdown_li(_('Dashboard'), url('users.profile')) }}
                {{ nav.divider() }}
                {{ nav.dropdown_li(_('Logout'), url('users.logout')) }}
              {% endcall %}
            {% else %}
              {{ nav.li('', _('Login'), url('users.login')) }}
              {{ nav.li('', _('Register'), url('users.register')) }}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <section id="page-body" class="container">
      {% if page_header %}
        <div class="page-header">
          {% block page_header %}
            <h1>{{ page_header }}</h1>
          {% endblock %}
        </div>
      {% endif %}
      {% block content %}{% endblock %}
    </section>
    {% block site_js %}
      {{ js('common') }}
  	{% endblock %}
  </body>
</html>
