{% extends 'base.html' %}
{% set section='resources' %}
{% set page_header = _('Complete Resources') %}

{% block site_css %}
  {{ super() }}
  {{ css('resources') }}
{% endblock %}

{% block content %}
<div id="resources_app">
  <div class="row">
    <div class="span4 columns">
      <h2>{{ _('Categories') }}</h2>
      <ul class="gamemakers">
        {% for maker in gamemakers %}
          <li>
            <span>{{ maker['name'] }}</span>
            <ul class="categories">
              {% for category in maker['categories'] %}
                <li><a href="#">{{ _(category.name) }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="span12 columns">
      <h2>{{ _('Preview') }}</h2>
    </div>
  </div>
  <div class="row actions app-bottombar">
    <div class="span16 columns">
    </div>
  </div>
</div>
{% endblock %}
