{% extends 'base.html' %}
{% set section='resources' %}
{% set page_header = _('Complete Resources') %}

{% block site_css %}
  {{ super() }}
  {{ css('resources') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('resources') }}

  {# ICanHaz.js Templates #}
  {% raw %}
    <script type="text/html" id="resource_grid">
      <ul class="media-grid">
        {{#resources}}
          <li>
            <a href="#/resource/{{ id }}">
              <img src="{{ upload }}">
            </a>
          </li>
        {{/resources}}
      </ul>
    </script>

    <script type="text/html" id="category_tree">
      {{#gamemakers}}
        <li>
          <span>{{ name }}</span>
          <ul class="categories">
            {{#categories}}
              <li><a href="#/category/{{ slug }}">{{ name }}</a></li>
            {{/categories}}
          </ul>
        </li>
      {{/gamemakers}}
    </script>

    <script type="text/html" id="resource_detail">
      {{#resource}}
        <div class="resource-display">
          <img src="{{ upload }}">
        </div>
      {{/resource}}
      {{#details}}
        <div class="row">
          <div class="span2">{{ 0 }}</div>
          <div class="span10">{{{ 1 }}}</div>
        </div>
      {{/details}}
    </script>
  {% endraw %}
{% endblock %}

{% block content %}
<div id="resources-app" data-gamemakers="{{ gamemakers }}">
  <div class="row">
    <div class="span4 columns">
      <h2>{{ _('Categories') }}</h2>
      <ul id="categories"></ul>
    </div>
    <div class="span12 columns">
      <div class="heading-button">
        <a class="btn success">Upload +</a>
      </div>
      <h2 id="app-heading">{{ _('Loading') }}</h2>
      <div id="app-body"></div>
    </div>
  </div>
  <div class="row actions app-bottombar">
    <div class="span16 columns">
    </div>
  </div>
</div>
{% endblock %}
